
 html
{
    width: 300px;  /* max: 800px */
    height: 400px; /* max: 600px */
        border: 2px solid rgb(26, 26, 26);
    background-color: rgb(17, 17, 17);
}
/* body {
      font-family: sans-serif;
      padding: 10px;
      width: 250px;
    }
    label {
      display: block;
      margin-top: 10px;
    }
    input {
      width: 100%;
      padding: 4px;
      box-sizing: border-box;
    }
    button {
      margin-top: 15px;
      width: 100%;
      padding: 6px;
      background-color: #4285f4;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
    button:hover {
      background-color: #3367d6;
    }*/